# format options

--exclude **/.build
--swiftversion 5.2
--header "\nCopyright © 2021 Toby O'Connell. All rights reserved.\n"

# rules

--trimwhitespace nonblank-lines
--importgrouping testable-bottom
--wraparguments before-first
