PRODUCT_BUNDLE_IDENTIFIER = tobyoconnell.UserDataCollection.UITests
INFOPLIST_FILE = UserDataCollectionUITests/Configurations/Info.plist

TEST_TARGET_NAME = UserDataCollectionInternal

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
